<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

     
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-4 d-none d-sm-inline">Ornate HR System</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fas fa-th"></i> <span class="ms-1 d-none d-sm-inline"> Dashboard</span> </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                        <i class="fas fa-home"></i><span class="ms-1 d-none d-sm-inline"> Work From Home</span></a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle" [routerLink]="['/attendance']">
                        <i class="fas fa-clipboard-check"></i>  <span class="ms-1 d-none d-sm-inline"> Attendance</span> </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-0 align-middle" [routerLink]="['/employee']">
                      <i class="fas fa-user"></i> <span class="ms-1 d-none d-sm-inline"> Employee</span> </a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0 align-middle">
                    <i class="far fa-calendar-alt"></i> <span class="ms-1 d-none d-sm-inline"> Leave Calendar</span> </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <i class="fas fa-stethoscope"></i> <span class="ms-1 d-none d-sm-inline"> Sick Leave</span> </a>
            </li>
            <li>
              <a href="#" class="nav-link px-0 align-middle">
                <i class="fas fa-rupee-sign"></i> <span class="ms-1 d-none d-sm-inline"> Conveyance</span> </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="far fa-clipboard"></i><span class="ms-1 d-none d-sm-inline"> Leave Record</span> </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0 align-middle">
            <i class="fas fa-users"></i> <span class="ms-1 d-none d-sm-inline"> Employee Headed By</span> </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0 align-middle">
          <i class="fas fa-bullhorn"></i> <span class="ms-1 d-none d-sm-inline"> Notice/Announcement</span> </a>
    </li>
    <li>
      <a href="#" class="nav-link px-0 align-middle">
        <i class="far fa-clock"></i> <span class="ms-1 d-none d-sm-inline"> Late Status</span> </a>
  </li>
  <li>
    <a href="#" class="nav-link px-0 align-middle">
      <i class="far fa-file-powerpoint"></i> <span class="ms-1 d-none d-sm-inline"> Performance Report</span> </a>
</li>
<li>
  <a href="#" class="nav-link px-0 align-middle">
    <i class="fas fa-share-square"></i> <span class="ms-1 d-none d-sm-inline"> Export Data</span> </a>
</li>
<li>
  <a href="#" class="nav-link px-0 align-middle">
    <i class="fas fa-file-alt"></i> <span class="ms-1 d-none d-sm-inline"> Sales Summary</span> </a>
</li>
<li>
  <a href="#" class="nav-link px-0 align-middle" [routerLink]="['offer-letter']">
    <i class="fas fa-envelope-square"></i> <span class="ms-1 d-none d-sm-inline"> Offer Letter</span> </a>
</li>
<li>
  <a href="#" class="nav-link px-0 align-middle">
    <i class="fas fa-envelope"></i><span class="ms-1 d-none d-sm-inline"> Appointment Letter</span> </a>
</li>
              </ul>
              <hr>
          </div>
    

