<div class="card-body">
    <div class="row">
<div class="col-lg-15 div3">
    <tabset [justified]="true">
        

            <!-- point of contact tab -->
            <tab heading="Pending Leaves" style="padding-top: 20px; ;">
                <p>Pending</p>
            </tab>
            <tab heading="Approved Leaves" style="padding-top: 20px;">
                <p>Approved</p>
            </tab>
            <tab heading="Denied Leaves" style="padding-top: 20px;">
                <p>Denied</p>
            </tab>
    </tabset>
</div>
</div>
